<div class="form-group w-100 mt-4 px-4">
	<h6>Enter the 6-digit code sent to your email.</h6>
	<label for="code" class="mt-3">Code</label>
	<input
		type="text"
		name="code"
		id="code"
		required
		class="form-control mb-1"
		placeholder="eg: 3XXXX9"
		minlength="6"
		maxlength="6"
	/>
</div>
