<div class="form-group mt-4 w-100 px-4">
	<h6>Enter your email address.</h6>
	<label for="email" class="mt-3">Email</label>
	<input
		type="email"
		name="email"
		id="email"
		required
		class="form-control mb-1"
		placeholder="example@domain.com"
	/>
</div>
