<div class="form-group mt-4 w-100 px-4">
	<label for="email" class="mt-2">Email</label>
	<input
		type="email"
		name="email"
		id="email"
		required
		class="form-control mb-1"
		placeholder="example@domain.com"
	/>
	<div class="d-flex mt-5 justify-content-between flex-wrap">
		<label for="password">Password</label>
		<input
			type="password"
			name="password"
			id="password"
			required
			class="form-control mb-1 order-2"
		/>
		<button
			type="button"
			id="show"
			class="bg-transparent border-0 text-primary"
		>
			show
		</button>
	</div>
</div>
