<div class="form-group w-100 mt-4 px-4">
	<div class="d-flex mt-5 justify-content-between flex-wrap">
		<label for="password">Password</label>
		<input
			type="password"
			name="password"
			id="password"
			required
			class="form-control mb-1 order-2"
		/>
		<button
			type="button"
			id="show"
			class="bg-transparent border-0 text-primary"
		>
			show
		</button>
	</div>
	<label for="confirmPass" class="mt-5">Confirm Password</label>
	<input
		type="password"
		name="confirmPass"
		id="confirmPass"
		required
		class="form-control mb-2 order-2"
	/>
</div>
